<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Aarondev.co.uk</title>
</head>

<link rel="stylesheet" href="/css/main.css">
<body>
    <div class="container-fluid bg-dark text-white" style="height: 100vh;">
        <!-- Top navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                AaronDev.co.uk
                <i class="fas fa-code"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row h-75 align-items-center drop-down starting-position">
            <div class="col-md-8 offset-md-2">
                <h1 class="about-title">About</h1>
                <div class="about-content">
                    <p>Welcome to my digital realm! I'm Aaron, a web developer and IT enthusiast based in the South West, UK. I recently achieved a Distinction in my IT apprenticeship, solidifying my expertise in a variety of programming languages and technologies.</p>

                    <p>My professional journey in IT spans a couple of decades at this point, in the last 5 years this was with a focus on web development. I primarily work with JavaScript and NodeJS, but I also use C/C++, Python, and Java. I have a growing interest in Deno, aiming to incorporate it into my personal projects along with various other technologies.</p>

                    <p>When I'm not coding, you can find me immersed in the worlds of gaming, sci-fi, fantasy and exploring the vast universe through the lens of physics, astrophysics, and astrobiology. My curiosity also extends to quantum mechanics and philosophy, fueling endless intellectual exploration.</p>

                    <p>As a visual learner, I prefer to see concepts come to life through code and practical examples. This approach not only aids my understanding but also drives my passion for sharing knowledge with others. Research and continual learning form the bedrock of my professional and personal growth.</p>

                    <p>My personal philosophy is grounded in Existentialism, Humanism, Epistemology and Metaphysics. I believe in the power of technology, particularly AI, as a natural extension of human evolution, with the potential to unlock profound insights into our universe, consciousness, ourselves and more.</p>

                    <p>Thank you for visiting my site. I hope to connect with like-minded individuals and contribute to meaningful technological advancements and discussions.</p>

                    <p>NOTE: This site is currently being developed, so check back over time for updates</p>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/bundle.js"></script>
</body>
</html>