<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Aarondev.co.uk</title>
</head>

<link rel="stylesheet" href="/css/main.css">
<body>
    <div class="container-fluid bg-dark text-white" style="height: 100vh;">
        <!-- Top navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                AaronDev.co.uk
                <i class="fas fa-code"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row h-75 align-items-center drop-down starting-position">
            <div class="col-md-6 offset-md-3 ">
                <form action="/contact" method="post" class="rounded p-4 contact-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" rows="10" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-outline-light mx-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/bundle.js"></script>
</body>
</html>